body.thranrion{background:url(../images/background-fx-top.jpg) center -200px no-repeat,url(../images/background-fx-repeat.jpg) center 1800px repeat-y #231a13}@media only screen and (max-width:800px){body.thranrion{background-position:center -164px}}
.thranrion a{color:#f8b700}
.thranrion a:hover{color:#fff}
.thranrion .custom-parallax-header{background-image:url(../images/fx-glass.jpg)}
.thranrion .Author-staff .Author-avatar{border:1px solid #000;border-radius:3px;box-shadow:inset 0 0 0 1px rgba(255,255,255,.3),inset 0 0 0 3px #00b4ff,inset 0 0 0 4px #000,0 0 10px rgba(0, 0, 0, 0.8)}
.thranrion .Author-staff .Author-job{color:#00b4ff;font-size:.8125rem;margin-top:.25rem}
