@font-face{font-family:'Lobster';font-style:normal;font-weight:400;src:local("Lobster Regular"),local("Lobster-Regular"),url("../../../core/fonts/Lobster-Regular.ttf") format("truetype")}
body.exile{background:url(../images/background-fx-top.jpg) center -200px no-repeat,url(../images/background-fx-repeat.jpg) center 1800px repeat-y #1b0756}@media only screen and (max-width:800px){body.exile{background-position:center -164px}}
.exile a{color:#9df}
.exile a:hover{color:#fff}
.exile .custom-parallax-header{background-image:url(../images/fx-glass.jpg)}
.exile .Author-staff .Author-avatar{border:1px solid #000;border-radius:3px;box-shadow:inset 0 0 0 1px rgba(255,255,255,.3),inset 0 0 0 3px #00b4ff,inset 0 0 0 4px #000,0 0 10px rgba(0, 0, 0, 0.8)}
.exile .Author-staff .Author-job{color:#00b4ff;font-size:.8125rem;margin-top:.25rem}
.exile .uk-logo {font-family:'Lobster';font-size:30px;}
