body.cataclysm{background:url(../images/background-fx-top.jpg) center -20px no-repeat,url(../images/background-fx-repeat.jpg) center 1800px repeat-y #1a0c01}@media only screen and (max-width:800px){body.cataclysm{background-position:center -164px}}
.cataclysm a{color:#979797}
.cataclysm a:hover{color:#cbcbcb}
.cataclysm .custom-parallax-header{background-image:url(../images/fx-glass.jpg)}
.cataclysm .Author-staff .Author-avatar{border:1px solid #000;border-radius:3px;box-shadow:inset 0 0 0 1px rgba(255,255,255,.3),inset 0 0 0 3px #00b4ff,inset 0 0 0 4px #000,0 0 10px rgba(0, 0, 0, 0.8)}
.cataclysm .Author-staff .Author-job{color:#00b4ff;font-size:.8125rem;margin-top:.25rem}
